<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608615533283-idc1r6kdbd9nt5lelcq4o2pel36101di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608615533283-idc1r6kdbd9nt5lelcq4o2pel36101di</string>
	<key>API_KEY</key>
	<string>AIzaSyAFYR1KHYry5U7ZxPdGnrvRoJGm9PCL11c</string>
	<key>GCM_SENDER_ID</key>
	<string>608615533283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pilarTectoApp</string>
	<key>PROJECT_ID</key>
	<string>pilartecnoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>pilartecnoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608615533283:ios:b8af93f9c09d41a0c293d6</string>
</dict>
</plist>